
.jumbotron{
    height: 100vh;
	background-image: url('rcedermalm.github.io/images/startbild1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center;
}
@media screen and (min-width: 480px) {
.jumbotron:hover{
	-webkit-animation-name: gallery;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	
	animation-name: gallery;
	animation-duration: 2s;
	animation-iteration-count: 1;

	}
}

@-webkit-keyframes gallery {
  0% {
    background-image: url('rcedermalm.github.io/images/startbild2.jpg');
  }
  20% {
    background-image: url('rcedermalm.github.io/images/startbild3.jpg');
  }
  40% {
    background-image: url('rcedermalm.github.io/images/startbild4.jpg');
  }
  60% {
    background-image: url('rcedermalm.github.io/images/startbild5.jpg');
  }
  80% {
    background-image: url('rcedermalm.github.io/images/startbild2.jpg);
  }
  100% {
    background-image: url('rcedermalm.github.io/images/startbild1.jpg');
  }
}

@keyframes gallery {
  0% {
    background-image: url('rcedermalm.github.io/images/startbild2.jpg');
  }
  20% {
    background-image: url('rcedermalm.github.io/images/startbild3.jpg');
  }
  40% {
    background-image: url('rcedermalm.github.io/images/startbild4.jpg');
  }
  60% {
    background-image: url('rcedermalm.github.io/images/startbild5.jpg');
  }
  80% {
    background-image: url('rcedermalm.github.io/images/startbild2.jpg);
  }
  100% {
    background-image: url('rcedermalm.github.io/images/startbild1.jpg');
  }
}

#threetimestext{
	margin: 10%;
}



