.bg-1 { 
    background-image: url("images/startbild.JPG")
    color: #ffffff;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('images/startbild.JPG') no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;

}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 350px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



































/* För att inte få saker under navbar */
#profildel{
	margin-top: 6%;
	padding-top:5px;
	margin-bottom: 3%;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.container{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.invisible{
	color: white;
}

/*profilbild*/
#profil{
	float:right;
	margin-right:10%;
	margin-top: 5%;
}

/*texten bredvid profilbilden*/
#profiltext{
	margin-top: 3%;
}

h2{
	padding-bottom: 15px;
	padding-top:15px;
}

.projektbild{
	margin-top:2%;
	width: 80%;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom:17%;
}

.grey{
	background-color: #3d3d3d;
	color: white;
	margin-top: 6%;
	padding-top:5px;
	margin-bottom: 3%;
}

#engagemangbild{
	width:100%;
	margin-bottom:15%;
	
}

#footer{
	background-color: #3d3d3d;
	color: white;
	padding: 2%;
}

#last{
	float: center;
}
