	html, body {
		background-color: #a80202 !important;
		color: #ffffff !important;
	}

	
	@media screen and (orientation: portrait) {
		p {
		padding: 10%;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 16px;
		}
	}
	
	@media screen and (orientation: landscape) {
		p {
			padding: 15%;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			font-size: 16px;
		}
		
		.jumbotron:hover{
		-webkit-animation-name: gallery;
		-webkit-animation-duration: 2s;
		-webkit-animation-iteration-count: 1;
		
		animation-name: gallery;
		animation-duration: 2s;
		animation-iteration-count: 1;

		}
	}
	
	.smallIcon{
		font-size: 8px;
		margin: 2px;
	}
	
	i {
		margin: 3%;
	}
	
	a {
		font-style: italic;
		border-bottom: 1px solid #ffffff;
		color: #ffffff !important; 
	}
	
	.info{
		min-height:100vh;
	}
	
	.iconalign {
		vertical-align: middle;
	}

	.bigicons {
		margin-left: 35%;
		text-align: center;
		margin-bottom: 20%;
	}
	
	.jumbotron{
		height: 100vh;
		background-image: url('rcedermalm.github.io/images/startbild1.JPG');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position:center;
		position: center;
		margin-bottom:0%;
	}


	
	.btn-circle {
		width: 73px;
		height: 73px;
		margin-top: 78vh;
		border: 2px solid #ffffff;
		border-radius: 100% !important;
		color: #ffffff;
		background: 0 0;

	}



		

	@-webkit-keyframes gallery {
	  0% {
		background-image: url('rcedermalm.github.io/images/startbild2low.jpg');
	  }
	  20% {
		background-image: url('rcedermalm.github.io/images/startbild3low.jpg');
	  }
	  40% {
		background-image: url('rcedermalm.github.io/images/startbild4low.jpg');
	  }
	  60% {
		background-image: url('rcedermalm.github.io/images/startbild5low.jpg');
	  }
	  80% {
		background-image: url('rcedermalm.github.io/images/startbild2low.jpg');
	  }
	  100% {
		background-image: url('rcedermalm.github.io/images/startbild1.JPG');
	  }
	}

	@keyframes gallery {
	  0% {
		background-image: url('rcedermalm.github.io/images/startbild2low.jpg');
	  }
	  20% {
		background-image: url('rcedermalm.github.io/images/startbild3low.jpg');
	  }
	  40% {
		background-image: url('rcedermalm.github.io/images/startbild4low.jpg');
	  }
	  60% {
		background-image: url('rcedermalm.github.io/images/startbild5low.jpg');
	  }
	  80% {
		background-image: url('rcedermalm.github.io/images/startbild2low.jpg);
	  }
	  100% {
		background-image: url('rcedermalm.github.io/images/startbild1.JPG');
	  }
	}




